{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ title }}</h1> 

    <p> 
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis debitis rem veritatis, 
        culpa consequuntur doloremque laboriosam perspiciatis aspernatur, cum numquam, eaque reprehenderit 
        dignissimos nam soluta veniam quisquam possimus sapiente iste nisi id aperiam. Molestiae, perspiciatis. 
    </p>
{% endblock %}